// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Minimalistic and Elegant Palette:

// Primary Colors:
$charcoal: #333333; // Navbar;
$midnight-blue: #2C3e50; // For a sofisticated and elegant feel;
$white: #FFFFFF; // For a minimalistic and clean look
$soft-white: #f8f9fa;
//Accent Colors:
$sky-blue: #5BC0EB;
$ruby:#ce2029;
$gold: #f39c12; // For highlights and important actions
$soft-gray: #ecf0f1; // For backgrounds and subtle text
$emerald-green: #2ecc71; // To indicate positive changes
$soft-greyish-blue: #c4cbd1
