  <footer class="footer">
   <div class="footer-container d-flex justify-content-around pb-5">
    <div class="mt-5 mb-5">
      <p>Portfolio Pilot. Copyright. All Rights Reserved. 2024</p>
    </div>
    <div>
      <h3 class="footer-title mt-5">About</h3>
      <ul class="footer-link">
        <li><%= link_to "Our team", pages_about_path, class: "text-decoration-none about-link"%></li>
      </ul>
    </div>
    <div>
      <h3 class="footer-title mt-5">Contact</h3>
      <ul class="footer-link">
        <li><i class="fas fa-phone"></i> +123 456-7890</li>
        <li><i class="fas fa-envelope"></i> portfoliopilot@support.com</li>
      </ul>
    </div>
    <div>
      <h3 class="footer-title mt-5">Follow Us</h3>
      <ul class="footer-link d-flex">
        <li class="footer-icon"><a href="https://github.com/guidonunes/portfolio-pilot-rails" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="footer-icon"><a href="mailto:portfoliopilot@support.com"><i class="fas fa-envelope"></i></a></li>
        <li class="footer-icon"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
