<footer class="footer">
  <div class="footer-container d-flex justify-content-around mt-5">
    <div class="mt-5">
      <p> Portfolio Pilot. Copyright. All Rights Reserved. 2024</p>
    </div>
    <div>
      <h3 class="footer-title mt-3">About:</h3>
      <ul class="footer-link">
        <li>Product</li>
        <li>Resources</li>
        <li>Term & Conditions</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div>
      <h3 class="footer-title mt-3">Company:</h3>
      <ul class="footer-link">
        <li>Our Team</li>
        <li>Partner With Us</li>
        <li>Privacy & Policy</li>
        <li>Features</li>
      </ul>
    </div>
    <div>
      <h3 class="footer-title mt-3">Contact:</h3>
      <ul class="footer-link">
        <li>+123 456-7890</li>
        <li>portfoliopilot@support.com</li>
      </ul>
    </div>
  </div>
</footer>
