<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="new-wallet-card">
        <div class="new-walletcard-body">
          <h1 class="new-wallet-card-title text-center">Edit Wallet Name</h1>
          <%= render "form", wallet: @wallet %>
        </div>
      </div>
    </div>
  </div>
</div>
