.btn-flat {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: $soft-white;
  background-color: $gold;
  text-decoration: none;
  border-radius: 5px; // Adjust as needed

  &:hover {
    background-color: darken($gold, 12%);
    color: $soft-white;
  }
}

.btn-homepage {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  font-weight: 450;
  background-color: $gold;
  text-decoration: none;
  border-radius: 5px; // Adjust as needed

  &:hover {
    background-color: darken($gold, 10%);
    color: $soft-white;
  }
}

.btn-cancel {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: none; // Accent color
  border: 1px solid $midnight-blue;
  color: $midnight-blue;
  text-decoration: none;
  border-radius: 5px; // Adjust as needed

  &:hover {
    color: $ruby;
    border: 1px solid $ruby;
  }
}

.btn-action {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: $soft-white; // Accent color
  color: $midnight-blue;
  text-decoration: none;
  border-radius: 5px; // Adjust as needed
  justify-content: right;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.8); // Apply the scale transformation on hover
  }
}

.btn-ghost {
  color: $midnight-blue;
  border: 1px solid $midnight-blue;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;

  &:hover {
    border: 1px solid $sky-blue;
    background-color: $sky-blue;
    color: black;
  }
}

.btn-size-standard {
  width: 200px;
  height: 50px;
}

.btn-wallet {
  display: inline-block;
  padding: 10px 20px;
  background-color: $midnight-blue; // Accent color
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px; // Adjust as needed

  &:hover {
    background-color: darken(#5BC0EB, 10%);
    color: $soft-white;
  }
}



/*Animations - Leave it as it is*/

.bounce-in-bottom {
  -webkit-animation: bounce-in-bottom 1.1s both;
          animation: bounce-in-bottom 1.1s both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-6-11 22:26:25
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation bounce-in-bottom
* ----------------------------------------
*/
@-webkit-keyframes bounce-in-bottom {
0% {
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  opacity: 0;
}
38% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 1;
}
55% {
  -webkit-transform: translateY(65px);
          transform: translateY(65px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
72% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
81% {
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
90% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
95% {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
}
@keyframes bounce-in-bottom {
0% {
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  opacity: 0;
}
38% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 1;
}
55% {
  -webkit-transform: translateY(65px);
          transform: translateY(65px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
72% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
81% {
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
90% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
95% {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
}
