.navbar-lewagon {
  justify-content: space-between;
  background: $soft-white;

  .nav-link {
    font-size: 16px;

    &:hover {
      font-weight: 500;
      color: $midnight-blue;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
    margin-right: 0px;
  }
}
