.wallet-title {
  margin: 48px;
  font-family: $headers-font;
  color: $midnight-blue;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.wallet-card-container {
  background: $soft-white;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 5rem;



  &.wallet-card {
    .wallet {
      .header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 1rem;

        .column {
          flex: 1;
          text-align: center;
        }
      }

      .operation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid #ddd;

        .column {
          flex: 1;
          text-align: center;
        }

        .actions {
          display: flex;
          gap: 0.5rem;

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25rem 0.5rem;

            i {
              margin-right: 0.25rem;
            }
          }
        }
      }
    }
  }

}

.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

.fake-input {
  bottom: 0%;
  left: 0%;
}

.fake-option {
  list-style: none;
  padding: 0.5rem;
  border-bottom: solid 1px rgb(182, 182, 182);
  cursor: pointer;
}

.fake-option:hover {
  background-color: white;
  transition: all;
  transition-duration: 0.5s;
}

.fake-options {
  margin-top: -1rem;
  padding-left: 0;
  background-color: $soft-white;
  width: 100%;
  z-index: 10;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-14 14:41:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
