<div class="banner">
  <%= image_tag "banner_1.jpg", class: "banner-image" %>
  <div class="overlay">
    <div class="container">
      <h1 class="bounce-in-top">Portfolio<span class="main-title">Pilot</span></h1>
      <p>Manage stocks and cryptos seamlessly in one place.</p>
      <%= link_to "Get Started Now", wallets_path, class: "btn btn-homepage bounce-in-bottom mt-5" %>
    </div>
  </div>
</div>
