<div class="combined-assets-section">
  <div class="container p-5">
    <!-- First section with text on the left and image on the right -->
    <div class="row">
      <div class="left-column pl-5">
        <h2>Web3 Assets + Traditional Stocks</h2>
        <p>This integrated approach allows you to monitor and manage both emerging digital assets, such as cryptocurrencies and decentralized finance (DeFi) tokens, as well as established financial instruments like stocks.</p>
      </div>
      <div class="right-column">
        <%= image_tag "combined_1.jpg", class: "combined-image" %>
      </div>
    </div>

    <!-- Second section with image on the left and text on the right -->
    <div class="row">
      <div class="left-column pr-5">
        <%= image_tag "combined_2.jpeg", class: "combined-image" %>
      </div>
      <div class="right-column pl-5">
        <h2>Monitor Both Categories in One Space</h2>
        <p>By monitoring both categories in one single space, you can diversify your investment strategy, stay informed about emerging trends in decentralized finance, and make well-informed decisions to optimize your financial growth.</p>
      </div>
    </div>
  </div>
</div>
