<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-center">
    <div class="card-total-balance">
      <div class="card-content">
        <div class="balance-title">Wallet Estimated Value</div>
        <div class="separator"></div>
        <div class="balance">
          <div class="balance-left">
            <div class="currency mt-2">$</div>
          </div>
          <div class="balance-right">
            <div class="balance-amount">XXXXXXXXX</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
